<html>
<head>
    <title>{% block title %}Encoder{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset 'css/main.css' }}"/>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>